<%= turbo_frame_tag custom_select_list, class: "col-md-6 mt-2" do %>
  <div class="card shadow">
    <div class="card-header">
      <%= t("activerecord.models.#{custom_select_list.model_name_association}.others") %>
      <span class="badge rounded-pill text-bg-success"><%= custom_select_list.status %></span>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <% custom_select_list.custom_option_lists.ordered.each do |option_list| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= t("activerecord.attributes.#{option_list.custom_select_list.model_name_association}.#{option_list.model_field}") %>
            <div class="d-flex gap-2">
              <%= link_to edit_custom_select_list_custom_option_list_path(custom_select_list, option_list), data: { turbo: false } do %>
                <div class="btn btn-sm btn-secondary">
                  <i class="bi bi-pencil"></i>
                </div>
              <% end %>
              <%= link_to custom_select_list_custom_option_list_path(custom_select_list, option_list), data: { turbo_method: :delete , turbo_confirm: t("common.form.confirm_delete")} do %>
                <div class="btn btn-sm btn-danger">
                  <i class="bi bi-trash"></i>
                </div>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="card-footer">
      <div class="col d-flex justify-content-end gap-2">
        <%= link_to custom_select_list_path(custom_select_list), data: { turbo_method: :delete , turbo_confirm: t("common.form.confirm_delete")} do %>
          <div class="btn btn-danger">
            <i class="bi bi-trash"></i>
          </div>
        <% end %>
        <%= link_to new_custom_select_list_custom_option_list_path(custom_select_list), data: { turbo: false } do %>
          <div class="btn btn-primary">
            <i class="bi bi-plus-circle-fill"></i> Opción
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %> 