<%= turbo_frame_tag custom_select_list, class: "col-md-6 mt-2" do %>
  <div class="card shadow">
    <div class="card-header">
      <%= t("activerecord.models.#{custom_select_list.model_name_association}.others") %>
      <span class="badge rounded-pill text-bg-success"><%= custom_select_list.status %></span>
    </div>
    <div class="card-body">
    </div>
    <div class="card-footer">
      <div class="col d-flex justify-content-end gap-2">
        <%= link_to custom_select_list_path(custom_select_list), data: { turbo_method: :delete , turbo_confirm: t("common.form.confirm_delete")} do %>
          <div class="btn btn-danger">
            <i class="bi bi-trash"></i>
          </div>
        <% end %>
        <%= link_to new_custom_select_list_custom_option_list_path(custom_select_list), data: { turbo: false } do %>
          <div class="btn btn-primary">
            <i class="bi bi-plus-circle-fill"></i> Opción
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %> 