<%= simple_form_for social_ecological_characterization, html: { class: "form" } do |f| %>
  <%= form_error_notification(social_ecological_characterization) %>

  <div class="mb-3">
    <h4>IDENTIFICACIÓN DE LA FUENTE</h4>
    <hr>
    <div class="row">
      <%= f.input :authors, label: "Autores" %>
      <%= f.input :title, label: "Título", input_html: { autofocus: true } %>
    </div>
    <div class="row">
      <%= f.input :year, label: "Año", wrapper_html: { class: 'col-12 col-md-4' } %>
      <%= f.input :resource_type, label: "Tipo de documento", collection: SocialEcologicalCharacterization.resource_types.map {| k,v | [v, k] }, label_method: :second, value_method: :second, prompt: "Seleccione un tipo de recurso", input_html: { class: "form-select" }, wrapper_html: { class: 'col-12 col-md-4' } %>
      <%= f.input :institution, label: "Institución/Entidad", wrapper_html: { class: 'col-12 col-md-4' } %>
    </div>
    <div class="row mb-4">
      <%= f.input :url, label: "Enlace o Ubicación" %>
      <%= f.input :access_level, label: "Nivel de acceso", collection: SocialEcologicalCharacterization.access_levels.map {| k,v | [v, k] }, label_method: :second, value_method: :second, prompt: "Seleccione un nivel de acceso", input_html: { class: "form-select" }, wrapper_html: { class: 'col-12 col-md-6' } %>
    </div>
    
    <h4>CARACTERIZACIÓN GENERAL</h4>
    <hr>

    <div class="row">
      <%= f.input :geographic_area, label: "Área geográfica", collection: SocialEcologicalCharacterization.geographic_areas.map {| k,v | [v, k] }, label_method: :second, value_method: :second, prompt: "Seleccione un área geográfica", input_html: { class: "form-select"}, wrapper_html: { class: 'col-12 col-md-6' } %>
      <%= f.input :spatial_coverage, label: "Cobertura espacial", collection: SocialEcologicalCharacterization.spatial_coverages.map {| k,v | [v, k] }, label_method: :second, value_method: :second, prompt: "Seleccione una cobertura espacial", input_html: { class: "form-select" }, wrapper_html: { class: 'col-12 col-md-6' } %>
    </div>
    <div class="row">
      <%= f.input :analysis_scale, label: "Escala de análisis", collection: SocialEcologicalCharacterization.analysis_scales.map {| k,v | [v, k] }, label_method: :second, value_method: :second, prompt: "Seleccione una escala de análisis", input_html: { class: "form-select" }, wrapper_html: { class: 'col-12 col-md-6' } %>
      <%= f.input :study_period, label: "Período de estudio", input_html: { class: "form-control" }, wrapper_html: { class: 'col-12 col-md-6' } %>
    </div>
    <div class="row">
      <%= f.input :study_objective, label: "Objetivo del estudio", input_html: { class: "form-control" }, wrapper_html: { class: 'col-12 col-md-6' } %>
      <%= f.input :approach, label: "Enfoque", collection: SocialEcologicalCharacterization.approaches.map {| k,v | [v, k] }, label_method: :second, value_method: :second, prompt: "Seleccione un enfoque", input_html: { class: "form-select" }, wrapper_html: { class: 'col-12 col-md-6' } %>
    </div>
    <div class="row">
      <%= f.input :general_methodology_used, as: :text, label: "Metodología general utilizada", input_html: { class: "form-control" }, wrapper_html: { class: 'col-12' } %>
    </div>
  </div>

  <div class="col-12 d-flex justify-content-end gap-2">
    <%= link_to "Cancelar", social_ecological_characterizations_path, class: "btn btn-secondary" %>
    <%= f.submit "Aceptar", class: "btn btn-warning"%>
  </div>

<% end %>