<%= simple_form_for social_ecological_characterization, html: { class: "form container" } do |f| %>
  <%= form_error_notification(social_ecological_characterization) %>

  <div class="mb-3">
    <h5>IDENTIFICACIÓN DE LA FUENTE</h5>
    <hr>
    <div class="row">
      <%= f.input :authors, input_html: { autofocus: true, autocomplete: 'off', spellcheck: false } %>
      <%= f.input :title, input_html: { autocomplete: 'off', spellcheck: false } %>
    </div>
    <div class="row">
      <%= f.input :year, wrapper_html: { class: 'col-12 col-md-4' } %>
      <%= f.input :resource_type, collection: custom_options_for_select(:resource_type), label_method: :first, value_method: :second, prompt: t("common.form.select_an_option"), input_html: { class: "form-select" }, wrapper_html: { class: 'col-12 col-md-4' } %>
      <%= f.input :institution, input_html: { autocomplete: 'off', spellcheck: false }, wrapper_html: { class: 'col-12 col-md-4' } %>
    </div>
    <div class="row mb-4">
      <%= f.input :url, input_html: { autocomplete: 'off', spellcheck: false } %>
      <%= f.input :access_level, collection: custom_options_for_select(:access_level), label_method: :first, value_method: :second, prompt: t("common.form.select_an_option"), input_html: { class: "form-select" }, wrapper_html: { class: 'col-12 col-md-6' } %>
    </div>
    
    <h5>CARACTERIZACIÓN GENERAL</h5>
    <hr>

    <div class="row">
      <%= f.input :geographic_area, collection: custom_options_for_select(:geographic_area), label_method: :first, value_method: :second, prompt: t("common.form.select_an_option"), input_html: { class: "form-select"}, wrapper_html: { class: 'col-12 col-md-6' } %>
      <%= f.input :spatial_coverage, collection: custom_options_for_select(:spatial_coverage), label_method: :first, value_method: :second, prompt: t("common.form.select_an_option"), input_html: { class: "form-select" }, wrapper_html: { class: 'col-12 col-md-6' } %>
    </div>
    <div class="row">
      <%= f.input :analysis_scale, collection: custom_options_for_select(:analysis_scale), label_method: :first, value_method: :second, prompt: t("common.form.select_an_option"), input_html: { class: "form-select" }, wrapper_html: { class: 'col-12 col-md-6' } %>
      <%= f.input :study_period, input_html: { autocomplete: 'off', spellcheck: false }, wrapper_html: { class: 'col-12 col-md-6' } %>
    </div>
    <div class="row">
      <%= f.input :study_objective, input_html: { autocomplete: 'off', spellcheck: false }, wrapper_html: { class: 'col-12 col-md-6' } %>
      <%= f.input :approach, collection: custom_options_for_select(:approach), label_method: :first, value_method: :second, prompt: t("common.form.select_an_option"), input_html: { class: "form-select" }, wrapper_html: { class: 'col-12 col-md-6' } %>
    </div>
    <div class="row">
      <%= f.input :general_methodology_used, as: :text, input_html: { class: "form-control" }, wrapper_html: { class: 'col-12' } %>
    </div>

    <% if social_ecological_characterization.source_file? %>
      <div class="col-12 mt-2">
        <%= link_to t("common.download_file") + " (" + social_ecological_characterization.source_file.file.filename + ")", social_ecological_characterization.source_file_url, target: "_blank" %>
      </div>
    <% end %>
    <div class="col-12 mt-2">
      Archivo adjunto (pdf, doc, docx, xls, xlsx, csv; máximo 10 MB):
      <%= f.file_field :source_file, accept: 'pdf/doc/docx/xls/xlsx/csv', class: 'form-control' %>
    </div>
  </div>

  <div class="col-12 d-flex justify-content-end gap-2">
    <%= link_to t("common.cancel"), social_ecological_characterizations_path, class: "btn btn-secondary", data: { bs_dismiss: "modal" } %>
    <%= f.submit t("common.accept"), class: "btn btn-warning"%>
  </div>

<% end %>