
<div class="header mt-3">
  <h1>CARACTERIZACIONES SOCIALES Y ECOLÓGICAS</h1>
  <div class="d-flex justify-content-start gap-2">
    <%= link_to new_social_ecological_characterization_path, class: "btn btn-primary", data: { turbo_frame: "remote_modal" } do %>
      <i class="bi bi-plus-circle-fill"></i> Nueva caracterización
    <% end %>
    <%= link_to import_form_social_ecological_characterizations_path, class: "btn btn-secondary", data: { turbo_frame: "import_form" } do %>
      <i class="bi bi-database-fill-up"></i> Importar caracterizaciones
    <% end %>
    <%= link_to "#", class: "btn btn-secondary", data: { turbo: false } do %>
      <i class="bi bi-database-fill-down"></i> Exportar caracterizaciones
    <% end %>
  </div>
</div>
<div class="filters mt-2">
  <%# Seach form %>
  <div class="row">
    <%= form_with( url: social_ecological_characterizations_path, method: :get, data: { turbo_frame: 'social_ecological_characterizations'}, class: "d-block d-md-flex flex-row flex-wrap gap-2 justify-content-end align-items-center" ) do |form| %>
      <div class="col-auto">
        Filtrar:
      </div>

      <div class="col-auto mb-2">
        <%= form.select :resource_type, custom_options_for_select(SocialEcologicalCharacterization.name.underscore, :resource_type), { prompt: "Tipo de recurso" }, { class: 'form-select' } %>
      </div>

      <div class="col-auto mb-2">
        <%= form.select :access_level, custom_options_for_select(SocialEcologicalCharacterization.name.underscore, :access_level), { prompt: "Nivel de acceso" }, { class: 'form-select' } %>
      </div>

      <div class="col-auto mb-2">
        <%= form.select :geographic_area, custom_options_for_select(SocialEcologicalCharacterization.name.underscore, :geographic_area), { prompt: "Área geográfica" }, { class: 'form-select' } %>
      </div>

      <div class="col-auto mb-2">
        <%= form.select :spatial_coverage, custom_options_for_select(SocialEcologicalCharacterization.name.underscore, :spatial_coverage), { prompt: "Cobertura espacial" }, { class: 'form-select' } %>
      </div>

      <div class="col-auto mb-2">
        <%= form.select :analysis_scale, custom_options_for_select(SocialEcologicalCharacterization.name.underscore, :analysis_scale), { prompt: "Escala de análisis" }, { class: 'form-select' } %>
      </div>

      <div class="col-auto mb-2">
        <%= form.select :approach, custom_options_for_select(SocialEcologicalCharacterization.name.underscore, :approach), { prompt: "Enfoque" }, { class: 'form-select' } %>
      </div>

      <div class="col-auto mb-2">
        <%= form.submit "Buscar", class: "btn btn-primary" %>
        <%= form.submit "Exportar", class: "btn btn-secondary", formaction: social_ecological_characterizations_path(format: :csv) %>
      </div>
    <% end %>
  </div>
</div>

<%= turbo_frame_tag "import_form" %>
<%= turbo_frame_tag "social_ecological_characterizations" do %>
  <%= render @social_ecological_characterizations %>
<% end %>