<div class="header mt-3">
  <h1>INFORMES MENSUALES</h1>
  <div class="d-flex justify-content-start gap-2">
    <%= link_to new_monthly_report_path, class: "btn btn-primary", data: { turbo_frame: dom_id(MonthlyReport.new) } do %>
      <i class="bi bi-plus-circle-fill"></i> Nuevo informe
    <% end %>
  </div>
</div>

<% if true %>
  <div class="filters mt-2">
    <%# Seach form %>
    <div class="row">
      <%= form_with( url: monthly_reports_path, method: :get, data: { turbo_frame: 'monthly_reports'}, class: "d-block d-md-flex flex-row flex-wrap gap-2 justify-content-end align-items-center" ) do |form| %>
        <div class="col-auto">
          Filtrar:
        </div>

        <div class="col-auto mb-2">
          <%= form.select :component, custom_options_for_select(:component), { prompt: "Componente" }, { class: 'form-select' } %>
        </div>

        <div class="col-auto mb-2">
          <%= form.select :user_id, User.ordered_by_name.map { |user| [user.name, user.id] }, { prompt: "Responsable" }, { class: 'form-select' } %>
        </div>

        <div class="col-auto mb-2">
          <%= form.submit "Buscar", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<div class="overflow-x-scroll">
  <div class="d-flex border rounded px-3 mt-2 align-items-center bg-success text-white" style="min-width: 1200px;">
    <div class="col-4"><small>RESPONSABLE</small></div>
    <div class="col-2"><small>PERIODO REPORTADO</small></div>
    <div class="col-2"><small>FECHA DE PRESENTACION</small></div>
    <div class="col-2"><small>COMPONENTE</small></div>
    <div class="col-2"><small>ACCIONES</small></div>
  </div>
  
  <%= turbo_frame_tag MonthlyReport.new %>
  <%= turbo_frame_tag "monthly_reports" do %>
    <%= render @monthly_reports %>
  <% end %>
</div>