<div class="header mt-3">
  <h1>INFORME MENSUAL <%= @monthly_report.date_period.strftime("%B, %Y") %></h1>
  <div class="d-flex justify-content-start gap-2">
    <%= link_to monthly_reports_path, class: "btn btn-outline-primary", data: { turbo_frame: "_top" } do %>
      <i class="bi bi-arrow-left"></i> Atrás
    <% end %>
    <% if can? :craete, @monthly_report %>
    <%= link_to new_monthly_report_activity_path(@monthly_report), class: "btn btn-primary", data: { turbo_frame: dom_id(Activity.new) } do %>
      <i class="bi bi-plus-circle-fill"></i> Nueva actividad
    <% end %>
    <% end %>
  </div>
</div>
<div class="overflow-x-scroll">
  <div class="d-flex border rounded px-3 mt-2 align-items-center bg-success text-white" style="min-width: 1200px;">
    <div class="col-2"><small>PROYECTO</small></div>
    <div class="col-3"><small>OBJETIVO ASOCIADO</small></div>
    <div class="col-2"><small>ACTIVIADAD</small></div>
    <div class="col-2"><small>FECHA INICIO</small></div>
    <div class="col-2"><small>FECHA FIN</small></div>
    <div class="col-1"><small>ESTADO</small></div>
  </div>
  <%= turbo_frame_tag Activity.new %>
  <%= turbo_frame_tag "activities" do %>
    <%= render @monthly_report.activities.ordered %>
  <% end %>
</div>
