<div class="d-flex align-items-center justify-content-center min-vh-100 min-vw-70">
  <div class="container card p-4 shadow" style="max-width: 400px;">
    <h2>ASOQUIMBO</h2>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form container" }) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    label: t("devise.form.email"),
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    label: t("devise.form.password"),
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, label: t("devise.form.remember_me"), as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t("devise.form.submit"), class: "btn btn-primary mt-2" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
