<div class="flex-row border rounded px-2 mt-2 shadow py-2">
  <div class="row">
    <div class="col-2"><%= activity.custom_select_list.custom_option_name(activity.project) %></div>
    <div class="col-3"><%= activity.custom_select_list.custom_option_name(activity.associated_objective) %></div>
    <div class="col-2"><%= activity.custom_select_list.custom_option_name(activity.activity_name) %></div>
    <div class="col-2"><%= activity.start_date %></div>
    <div class="col-2"><%= activity.start_date %></div>
    <% status_types = { 0 => "text-bg-primary", 1 => "text-bg-warning", 2 => "text-bg-success" } %>
    <div class="col-1"><span class="badge rounded-pill <%= status_types[Activity.statuses[activity.status]] || "text-bg-primary" %>"><%= activity.status %></span></div>
  </div>
  <div class="row">
    <div class="col border border-dark-subtle rounded m-4 p-2">
      Descripcion:
      <p><%= activity.description %></p>
    </div>
  </div>
  <hr>
  <div class="col">
    Soportes:
  </div>
</div>
