<%= simple_form_for [monthly_report, activity], html: { class: "form card shadow mt-2" } do |f| %>
  <div class="card-body">
    <%= form_error_notification(activity) %>
    
    <div class="mb-3">
      <div class="row">
        <%= f.input :project, collection: custom_options_for_select(:project), label_method: :first, value_method: :second, prompt: t("common.form.select_an_option"), input_html: { class: "form-select" }, wrapper_html: { class: 'col-12 col-md-4' } %>
        <%= f.input :associated_objective, collection: custom_options_for_select(:associated_objective), label_method: :first, value_method: :second, prompt: t("common.form.select_an_option"), input_html: { class: "form-select" }, wrapper_html: { class: 'col-12 col-md-4' } %>
        <%= f.input :activity_name, collection: custom_options_for_select(:activity_name), label_method: :first, value_method: :second, prompt: t("common.form.select_an_option"), input_html: { class: "form-select" }, wrapper_html: { class: 'col-12 col-md-4' } %>
      </div>
      <div class="row">
        <%= f.input :start_date, as: :date, html5: true, input_html: { class: "form-control" }, wrapper_html: { class: 'col-12 col-md-4' } %>
        <%= f.input :end_date, as: :date, html5: true, input_html: { class: "form-control" }, wrapper_html: { class: 'col-12 col-md-4' } %>
        <%= f.input :status, collection: Activity.statuses.map {|key, value| [key.humanize, key] }, label_method: :first, value_method: :second, prompt: t("common.form.select_an_option"), input_html: { class: "form-select" }, wrapper_html: { class: 'col-12 col-md-4' } %>
      </div>
      <div class="row">
        <%= f.input :description, input_html: { class: "form-control" }, wrapper_html: { class: 'col' } %>
      </div>

      <div class="col-12 mt-2">
        <div class="col-12 mb-2">
          <ul>
            <% activity.source_files.each do |source_file| %>
              <%= hidden_field :activity, :source_files, multiple: true, value: source_file.identifier %>
              <li>
                <%= link_to t("common.download_file") + " (" + source_file.file.filename + ")", source_file.url, target: "_blank" %>
                <!-- <%= link_to "#", data: { turbo: false} do %>
                  <div class="btn btn-sm btn-danger">
                    <i class="bi bi-x-circle-fill"></i>
                  </div>
                <% end %> -->
              </li>
            <% end %>
          </ul>
        </div>
        Soportes (pdf, doc, docx, xls, xlsx, csv; máximo 10 MB):
        <%= f.file_field :source_files, multiple: true, accept: 'pdf/doc/docx/xls/xlsx/csv', class: 'form-control' %>
      </div>
    </div>
    
    <div class="col-12 d-flex justify-content-end gap-2">
      <%= link_to t("common.cancel"), monthly_report_path(monthly_report), class: "btn btn-secondary" %>
      <%= f.submit t("common.accept"), class: "btn btn-warning"%>
    </div>
  </div>
<% end %>