<%= simple_form_for [monthly_report, activity], html: { class: "form card shadow mt-2" } do |f| %>
  <div class="card-body">
    <%= form_error_notification(activity) %>
    
    <div class="mb-3">
      <div class="row">
        <%= f.input :project, collection: custom_options_for_select(:project), label_method: :first, value_method: :second, prompt: t("common.form.select_an_option"), input_html: { class: "form-select" }, wrapper_html: { class: 'col' } %>
        <%= f.input :associated_objective, collection: custom_options_for_select(:associated_objective), label_method: :first, value_method: :second, prompt: t("common.form.select_an_option"), input_html: { class: "form-select" }, wrapper_html: { class: 'col' } %>
        <%= f.input :activity_name, collection: custom_options_for_select(:activity_name), label_method: :first, value_method: :second, prompt: t("common.form.select_an_option"), input_html: { class: "form-select" }, wrapper_html: { class: 'col' } %>
      </div>
      <div class="row">
        <%= f.input :start_date, as: :date, html5: true, input_html: { class: "form-control" }, wrapper_html: { class: 'col' } %>
        <%= f.input :end_date, as: :date, html5: true, input_html: { class: "form-control" }, wrapper_html: { class: 'col' } %>
        <%= f.input :status, collection: custom_options_for_select(:status), label_method: :first, value_method: :second, prompt: t("common.form.select_an_option"), input_html: { class: "form-select" }, wrapper_html: { class: 'col' } %>
      </div>
      <div class="row">
        <%= f.input :description, input_html: { class: "form-control" }, wrapper_html: { class: 'col' } %>
      </div>
    </div>
    
    <div class="col-12 d-flex justify-content-end gap-2">
      <%= link_to t("common.cancel"), monthly_report_path(monthly_report), class: "btn btn-secondary" %>
      <%= f.submit t("common.accept"), class: "btn btn-warning"%>
    </div>
  </div>
<% end %>